/* Structure */
.logo-slider {
    overflow: hidden;
    /* Cache les logos hors de la vue */
    width: 100%;
    /* Largeur du conteneur */
    background-color: rgba(181, 54, 255, 0.749);
    /* Fond semi-transparent */
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 1;

}

.logo-track {
    display: flex;
    /* Affiche les logos en ligne */
    /* Largeur double pour l'effet de boucle */
    animation: scroll 100s linear infinite;
    /* Animation continue */
}




.logo-track img {
    width: 70px;
    /* Taille des logos */
    height: 60px;
    margin: 0 40px;
    /* Espacement entre les logos */
}

/* Animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
        /* Départ */
    }

    100% {
        transform: translateX(-100%);

    }
}